

<html>
    <%- include('partials/header') -%>

    <body>
        <div class="header">
            <h1>My Website</h1>
            <p>A website created by me.</p>
          </div>
          <div class="navbar">
            <a href="/">Home</a>
            <a href="/products">Products</a>
            <a href="/order">Order</a>
            <a href="/login" class="right">Login</a>
          </div>
        <h1 style="color: whitesmoke;"> Login page </h1>
        <form action="login">  
            <div class="container">   
                <label>Username : </label>   
                <input type="text" placeholder="Enter Username" name="username" required>  
                <label>Password : </label>   
                <input type="password" placeholder="Enter Password" name="password" required>  
                <button type="submit" value="Login">Login </button>   
                <input type="checkbox" checked="checked"> Remember me    
            </div>   
        </form>   

		<P> Msg: <%=mesg%> </P>

        <%- include('partials/footer') -%>
    </body>
</html>